<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/" class="cadastroclass">
                <i class="material-icons">
                    event
                </i>
                Cadastro
            </a>
            <a mat-list-item routerLink="/tasks" class="listagemclass">
                <i class="material-icons">
                    list
                </i>
                Listagem
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>