<main class="mainclass">
<div class="titleClass">
    <span class="titlearea">Título:</span> <input type="text" name="title" id="title">
</div>
<div class="description">
    Descrição: <input type="text" name="description" id="description">
</div>
<div class="select">
    Responsável: <select id=""></select> Prioridade <select id=""></select>
</div>
<div class="deadline">
    Deadline: <input type="text" name="deadline" id="deadline">
</div>
<div class="button">
    <button type="submit">Cadastrar</button>
</div>
</main>
<tr *ngFor="let task of tasks">
    <td>{{ task.id }}</td>
    <td>{{ task.title }}</td>
</tr>